{% load crispy_forms_tags %}
{% load i18n %}

<div class="card mx-auto" style="max-width: 480px">
  <div class="card-header">
    <h4 class="card-title">{% trans "Update entity:"%} {{ object.title }}</h4>
  </div>
  <div class="card-body">
    <form>
      {{ form|crispy }}
      <button class="btn btn-primary"
              type="submit"
              hx-encoding='multipart/form-data'
              hx-post="{% url 'djaframe:entity_update' pk=object.id %}"
              hx-target="#content"
              hx-push-url="true">
        {% trans "Update entity" %}
      </button>
      <button class="btn-close"
              title="{% trans 'Dismiss' %}"
              hx-get="{% url 'djaframe:entity_detail' pk=object.id %}"
              hx-target="#content"
              hx-push-url="true">
      </button>
    </form>
  </div>
</div>
<div class="card mx-auto mt-3"
     style="max-width: 480px">
  <div class="card-header">
    {% trans "Material images" %}
  </div>
  <div class="card-body"
       id="material-images"
       hx-get="{% url 'djaframe:matimg_list' pk=object.id %}"
       hx-trigger="refreshImages from:body">
    {% include "djaframe/htmx/material_image_loop.html" %}
  </div>
  <div class="card-footer" id="matimg-create">
    {% include "djaframe/htmx/material_image_create.html" %}
  </div>
</div>
