{% load crispy_forms_tags %}
{% load i18n %}

{% if object.material_images.all %}
  {% for matimg in object.material_images.all %}
    <div class="card mb-2" id="material-image-{{ matimg.id }}">
      <div class="card-body">
        <p>{{ matimg }}</p>
        <a class="link link-danger"
           hx-get="{% url 'djaframe:matimg_delete' pk=matimg.id %}"
           hx-target="#material-images"
           hx-confirm="{% trans 'Are you sure you want to delete this image?' %}">
          {% trans "Delete this image" %}
        </a>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>{% trans "No material images yet" %}</p>
{% endif %}
