{% load crispy_forms_tags %}
{% load i18n %}

<div class="card mx-auto" style="max-width: 480px">
  <div class="card-header">
    <h4 class="card-title">{% trans "Update scene"%}: {{ object.title }}</h4>
  </div>
  <div class="card-body">
    <form>
      {{ form|crispy }}
      Links depend on placements
      <button class="btn btn-primary"
              type="submit"
              hx-post="{% url 'djaframe:scene_create' %}"
              hx-target="#content"
              hx-push-url="true">
        {% trans "Update scene (!)" %}
      </button>
      <button class="btn-close"
              title="{% trans 'Dismiss (!)' %}"
              hx-get="{% url 'djaframe:entity_detail' pk=object.id %}"
              hx-target="#content"
              hx-push-url="true">
      </button>
    </form>
  </div>
</div>
<div class="card mx-auto mt-3"
     style="max-width: 480px">
  <div class="card-header">
    {% trans "Staged entities" %}
  </div>
  <div class="card-body" id="staged-entities">
    {% include "djaframe/htmx/staged_entity_loop.html" %}
  </div>
</div>
