{% load crispy_forms_tags %}
{% load i18n %}

{% if object.staged_entities.all %}
  {% for staging in object.staged_entities.all %}
    <div class="card mb-2" id="staged-entity-{{ staging.id }}">
      <div class="card-body">
        <p>{{ staging.id }} - {{ staging.entity }}</p>
        <a class="link link-primary"
           hx-get="#"
           hx-target="#staged-entity-{{ staging.id }}">
          {% trans "Modify(!)" %}
        </a>
        <a class="link link-danger"
           hx-get="#"
           hx-target="#staged-entity-{{ staging.id }}"
           hx-confirm="{% trans 'Are you sure you want to delete this staged entity?' %}">
          {% trans "Delete(!)" %}
        </a>
      </div>
    </div>
  {% endfor %}
{% else %}
  <p>{% trans "No staged entities yet" %}</p>
  <hr>
{% endif %}
<button id="staging-create-button"
        class="btn btn-bg btn-success"
        script="on click hide me then show #staging-create-form"
        {% if invalid_form %}style="display: none"{% endif %}>
  {% trans "Add staged entity" %}
</button>
<div id="staging-create-form"
     {% if not invalid_form %}style="display: none"{% endif %}>
  <form>
    {{ staging_form|crispy }}
    <button class="btn btn-primary"
            type="submit"
            hx-post="{% url 'djaframe:staging_create' pk=object.id %}"
            hx-target="#staged-entities">
      {% trans "Add staged entity" %}
    </button>
    <button class="btn-close"
            title="{% trans 'Dismiss' %}"
            script="on click hide #staging-create-form then show #staging-create-button">
    </button>
  </form>
</div>
